parameters:
	level: max
	paths:
		- app/
		- www/
		- tests/
	doctrine:
		objectManagerLoader: tests/object-manager.php
	tmpDir: var/temp
	ignoreErrors:
		- '#^Constant \S+ is unused\.$#D'
		- '#^Property \S+ is never read, only written\.$#D'
