search:
	in: %appDir%
	exclude:
		classes:
			- App\Bootstrap
			- App\Router\RouterFactory


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter


session:
	expiration: 14 days
	save_path: %tempDir%/../sessions


services:
	router: App\Router\RouterFactory::createRouter
