extensions:
	console: Contributte\Console\DI\ConsoleExtension( %consoleMode% )

	dbal: Nettrine\DBAL\DI\DbalExtension
	dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

	orm: Nettrine\ORM\DI\OrmExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension


parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter


session:
	expiration: 14 days
	save_path: %tempDir%/../sessions


console:
	url: https://commits.nette.org


dbal:
	debug:
		panel: %debugMode%
	connection:
		driver: %database.driver%
		host: %database.host%
		user: %database.user%
		password: %database.password%
		dbname: %database.dbname%


orm.annotations:
	paths:
		- %appDir%/Entity


services:
	router: App\Router\RouterFactory::createRouter

	-
		factory: Milo\Github\Api
		setup:
			- setDefaultParameters({ client_id: %githubAPI.clientID%, client_secret: %githubAPI.clientSecret% })

	- App\Facade\User\UserPersister
	- App\Facade\Commit\CommitPersister
	- App\Facade\Commit\CommitsOrderUpdater
	- App\Facade\Commit\UnreachableCommitsDeleter
	- App\Facade\SynchronizationLog\SynchronizationLogPersister

	- App\Service\Synchronizer\UserSynchronizer
	- App\Service\Synchronizer\CommitSynchronizer

	- App\QueryFunction\User\UsersIndexedByGithubIdQuery
	- App\QueryFunction\Commit\CommitsRepositoryShaMapQuery
	- App\QueryFunction\Repository\RepositoriesSortedByProjectAndNameQuery

	- Symfony\Component\Lock\Factory( Symfony\Component\Lock\Store\FlockStore( %tempDir%/flocks ) )::createLock('commits-synchronization')
	- App\Command\SynchronizeCommand
