extensions:
	console: Contributte\Console\DI\ConsoleExtension( %consoleMode% )


parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenter\*Presenter


session:
	expiration: 14 days
	save_path: %tempDir%/sessions


console:
	url: http://commits.planette.io


services:
	router: App\Router\RouterFactory::createRouter
