/**!*/
body
{
	padding-top: 70px;
	padding-bottom: 140px;
}


#spinner
{
	display: none;
}


h1
{
	margin-top: 0;
}


h2
{
	margin: 0 0 10px;
	font-size: 1.2em;
}


.tooltip-inner
{
	max-width: 290px;
}


.tw-cnt .header
{
	display: table-header-group;
}


.tw-cnt .header-cell,
.tw-cnt .filter-cell,
.tw-cnt .body-cell
{
	border: 0;
}


.tw-cnt .header > *:last-of-type
{
	border-bottom: 1px solid #ddd;
}


.tw-cnt .body-cell
{
	padding: 10px 5px;
	vertical-align: top;
}


.tw-cnt .body-cell-author,
.tw-cnt .body-cell-sha,
.tw-cnt .body-cell.row-actions
{
	padding: 5px;
}


.tw-cnt .header-cell-repository
{
	width: 124px;
	text-align: right;
}


.tw-cnt .body-cell-repository
{
	text-align: right;
}


.tw-cnt .header-cell-author
{
	width: 75px;
	text-align: center;
}


.tw-cnt .body-cell-author
{
	text-align: center;
}


.users
{
	position: relative;
	display: inline-block;
}


	.users .committer img
	{
		right: -2px;
		bottom: -2px;
		position: absolute;
		box-shadow: -2px -2px 0 rgba(255, 255, 255, 0.8);
	}


.tw-cnt .body-cell-message a
{
	color: #000;
	font-weight: bold;
}


.more-btn
{
	height: 16px;
	padding: 0 6px;
	margin-left: 8px;
	line-height: 15px;
}


.collapsing {
	transition: none;
	-webkit-transition: none;
}


.commit-message-rest
{
	margin-top: 10px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.tw-cnt .header-cell-committed_at
{
	width: 110px;
	text-align: right;
}


.tw-cnt .body-cell-committed_at
{
	text-align: right;
}


.tw-cnt .header-cell-sha
{
	width: 130px;
	text-align: center;
}


.tw-cnt .body-cell-sha
{
	text-align: center;
}


.sha
{
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.tw-cnt .body-cell.row-actions
{
	text-align: center;
}


@media (max-width: 767px)
{

	body
	{
		padding-bottom: 40px;
	}


	#spinner
	{
		width: 20px;
		height: 20px;
		float: right;
		margin: 15px 20px;
		background-color: #ddd;

		animation: sk-rotateplane 1.2s infinite ease-in-out;
		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	}


	.tw-cnt .table
	{
		border: 0;
	}


	.tw-cnt .header
	{
		width: 100%;
		display: none;
		overflow: auto;
		position: relative;
		margin-bottom: 10px;
		border: 1px solid #ddd;
	}


		.tw-cnt .header.in
		{
			display: block;
		}


		.tw-cnt .header > *
		{
			border: 0;
		}


		.tw-cnt .header > *:first-of-type
		{
			width: 50%;
			float: left;
			display: block;
		}


		.tw-cnt .header > *:last-of-type
		{
			width: 50%;
			float: right;
			display: block;
		}


		.tw-cnt .header .header-cell,
		.tw-cnt .header .filter-cell
		{
			width: 100%;
			height: 44px;
			display: block;
			line-height: 35px;
		}


		.tw-cnt .header .header-cell
		{
			text-align: right;
		}


		.tw-cnt .header .filter-cell.buttons
		{
			left: 0;
			width: 100%;
			position: absolute;
			text-align: center;
		}


	.tw-cnt .body > *
	{
		width: 100%;
		display: block;
		overflow: auto;
		position: relative;
		margin-bottom: 10px;
		border-top: 1px solid #ddd;
	}


		.tw-cnt .body > *,
		.tw-cnt .body > *:hover,
		.tw-cnt .body > *:nth-of-type(odd)
		{
			background: transparent;
		}


		.tw-cnt .body > *:last-of-type
		{
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
		}


	.tw-cnt .body-cell
	{
		padding: 4px 0;
		display: block;
		overflow: auto;
	}


		.tw-cnt .body-cell-repository
		{
			float: left;
			text-align: left;
			margin-right: 10px;
		}


		.tw-cnt .body-cell-author
		{
			float: right;
			margin-left: 10px;
			text-align: right;
		}


		.tw-cnt .body-cell-message
		{
			clear: both;
			margin: 20px 0 5px;
		}


		.tw-cnt .body-cell-committed_at
		{
			display: none;
		}


		.tw-cnt .body-cell-sha
		{
			width: 50%;
			padding: 0;
			float: left;
			text-align: left;
		}


		.tw-cnt .body-cell.row-actions
		{
			width: 50%;
			padding: 0;
			float: right;
			text-align: right;
			font-size: inherit;
		}


		.tw-cnt .body-cell.body-cell-sha .btn,
		.tw-cnt .body-cell.row-actions .btn
		{
			border: 0;
			padding: 0;
			background: transparent;
		}


			.tw-cnt .body-cell .btn:hover
			{
				text-decoration: underline;
			}


		.tw-cnt .body-cell .btn-group > button
		{
			display: none;
		}


	.tw-cnt .footer > * > *
	{
		border: 0;
		display: block;
		margin-top: 20px;
	}


	.tw-cnt .footer-info
	{
		margin-top: 5px;
		text-align: center;
	}

}


/* custom navbar collapse breakpoint - taken from https://stackoverflow.com/a/36289507 */
@media (max-width: 991px)
{
	.navbar .navbar-header
	{
		float: none;
	}


	.navbar .navbar-left,
	.navbar .navbar-right
	{
		float: none !important;
	}


	.navbar .navbar-toggle
	{
		display: block;
	}


	.navbar .navbar-collapse
	{
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}


	.navbar .navbar-fixed-top
	{
		top: 0;
		border-width: 0 0 1px;
	}


	.navbar .navbar-collapse.collapse
	{
		display: none !important;
	}


	.navbar .navbar-nav
	{
		margin-top: 7.5px;
		float: none !important;
	}


	.navbar .navbar-nav > li
	{
		float: none;
	}


	.navbar .navbar-nav > li > a
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}


	.navbar .collapse.in
	{
		display: block !important;
	}
}


@keyframes sk-rotateplane
{
	0%
	{
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	}

	50%
	{
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
	}

	100%
	{
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}


@-webkit-keyframes sk-rotateplane
{
	0%
	{
		-webkit-transform: perspective(120px)
	}

	50%
	{
		-webkit-transform: perspective(120px) rotateY(180deg)
	}

	100%
	{
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
	}
}
