{templateType App\Control\Navigation\NavigationTemplate}

<div class="collapse navbar-collapse" id="main-navbar">
	<ul class="nav navbar-nav">
		<li n:class="$presenter->isLinkCurrent('Project:commits', [ projectSlug => $project->getSlug() ]) ? active" n:foreach="$projects as $project">
			<a href="{plink Project:commits, projectSlug => $project->getSlug()}">{$project->getName()}</a>
		</li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="https://github.com/contributte/commits-site">
				<i class="fab fa-fw fa-github"></i>
				GitHub
			</a>
		</li>

		<li class="dropdown">
			<a href="#n" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-fw fa-rss"></i>
				RSS <span class="caret"></span>
			</a>

			<ul class="dropdown-menu" n:inner-foreach="$projects as $project">
				<li>
					<a href="{plink ProjectRss:feed, projectSlug => $project->getSlug()}">{$project->getName()}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
